*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: white;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #A7925A; }

.navbar {
  position: absolute;
  float: left;
  margin: 1rem;
  border: .1rem solid white;
  background-color: #A7925A; }
  .navbar::after {
    content: "";
    clear: both;
    display: table; }
  .navbar .navbar--items {
    list-style: none;
    float: left; }
    .navbar .navbar--items li {
      display: inline-block;
      margin-left: 3rem;
      padding: 3rem; }

.board-container {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 75vh;
  width: 75vh;
  line-height: 0; }
  .board-container .board-square {
    position: relative;
    display: inline-block;
    height: 12.5%;
    width: 12.5%;
    background-color: black;
    border: .1rem solid white; }
