*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #e6e6e6;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #c5a880; }

.board-container {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  top: 50vh;
  transform: translateY(-50%);
  height: 85vh;
  width: 85vh;
  line-height: 0;
  border: 0.5rem solid #0f0f0f;
  box-shadow: 0px 20px 10px -2px white, 0px -13px 4px black;
  transition: all .5s;
  border-radius: .5rem; }
  .board-container .board-square {
    position: relative;
    display: inline-block;
    height: 12.5%;
    width: 12.5%; }
  .board-container .dark-square {
    background-color: #532e1c; }
  .board-container .light-square {
    background-color: #e6e6e6; }

.navbar {
  position: absolute;
  top: 57vh;
  transform: translateY(-50%);
  margin: 1rem;
  border: 0.3rem solid #0f0f0f;
  border-radius: 1rem;
  background-color: #bd9c6e;
  text-align: center;
  left: 12.5%; }
  .navbar .navbar--items {
    list-style: none; }
    .navbar .navbar--items li {
      padding: 3rem; }
      .navbar .navbar--items li .btn, .navbar .navbar--items li .btn:link, .navbar .navbar--items li .btn:visited {
        border-radius: 1rem;
        border: 0.2rem solid #0f0f0f;
        padding: 1rem;
        text-decoration: none;
        background-color: #ab844e;
        color: #e6e6e6;
        transition: all .2s;
        outline: none;
        font-size: 3rem; }
      .navbar .navbar--items li .btn:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        /* x shadow, y shadow, blur, color*/ }
      .navbar .navbar--items li .btn:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2); }
      .navbar .navbar--items li .btn-nav {
        width: 12rem; }

.score-box {
  position: absolute;
  top: 48.75vh;
  transform: translateY(-50%);
  margin: 1rem;
  border: 0.3rem solid #0f0f0f;
  border-radius: 1rem;
  background-color: #bd9c6e;
  text-align: center;
  left: 13%;
  transform: translateX(-6%);
  top: 6.25%;
  padding: 1rem; }
  .score-box .score-box--items {
    list-style: none;
    display: inline-block; }
  .score-box th {
    padding: 0 0.8rem 0 0.8rem;
    text-align: center;
    width: 8rem; }
  .score-box td {
    width: 8rem; }
  .score-box td:first-child {
    border-right: solid 1px #532e1c; }

.prompt-box {
  position: absolute;
  top: 48.75vh;
  transform: translateY(-50%);
  margin: 1rem;
  border: 0.3rem solid #0f0f0f;
  border-radius: 1rem;
  background-color: #bd9c6e;
  text-align: center;
  right: 15%;
  padding: 3rem;
  min-width: 12rem;
  animation: fadePrompt 1s .5s ease-out; }
  .prompt-box p {
    font-size: 4rem; }

@keyframes fadePrompt {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.timer-box {
  position: absolute;
  top: 48.75vh;
  transform: translateY(-50%);
  margin: 1rem;
  border: 0.3rem solid #0f0f0f;
  border-radius: 1rem;
  background-color: #bd9c6e;
  text-align: center;
  right: 15%;
  top: 10%;
  padding: 1rem 3rem;
  min-width: 12rem; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal--content {
    position: relative;
    list-style: none;
    background-color: #bd9c6e;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
    padding: 20px;
    border: 0.5rem solid #0f0f0f;
    border-radius: 1rem;
    width: 50%; }
    .modal .modal--content .btn-config {
      border-radius: 1rem;
      border: 0.2rem solid #0f0f0f;
      padding: 1rem;
      text-decoration: none;
      background-color: #ab844e;
      color: #e6e6e6;
      transition: all .2s;
      outline: none;
      font-size: 2.5rem; }
