$color-grey-dark: white;
$color-secondary: #c5a880;
$color-dark-square: #532e1c;
$color-light-square: #e6e6e6;
$color-border: #0f0f0f;
$color-active-square: #00587a;


@mixin clearfix {  
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
@mixin middleBox {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    margin: 1rem;
    border: .3rem solid $color-border;
    border-radius: 1rem;
    background-color: darken($color-secondary,5%);
    text-align: center;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box; 
    background-color: $color-secondary;
}

.navbar{
    @include middleBox();
    left: 12.5%;


    .navbar--items{
        list-style: none;
        li{
            display: block;
            padding: 3rem;

            .btn{
                font-size: 3rem;
                border-radius: 1rem;
                border: .2rem solid $color-border;
                padding: 1rem;
                background-color: darken($color-secondary,15%);
                color:$color-light-square
            }
            .btn-nav{

            }
            .btn:hover {
                transform: translateY(-0.2rem);
                box-shadow: 0 1rem 2rem rgba(0,0,0,.2); /* x shadow, y shadow, blur, color*/
            }
            .btn:active {
                transform: translateY(-0.1rem);
                box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
            }

        }
    }
}

.board-container{
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 50vh;
    transform: translateY(-50%);
    height: 85vh;
    width: 85vh;
    line-height: 0;
    border: .5rem solid $color-border;
    border-radius: .3rem;
    .board-square{
        position: relative;
        display: inline-block;
        height: 12.5%;
        width: 12.5%;

    }
    .dark-square{
        background-color: $color-dark-square;
    }

    .light-square{
        background-color: $color-light-square;
    }
    .active-square{
        background-color: $color-active-square;
    }
    
}

.score-box{
    @include middleBox();
    right:12.5%;
    top: 12.15%;
    padding: 1rem;

    .score-box--items{
        list-style: none;
        display: inline-block;
    }
    th{
        padding: 0 0.8rem 0 0.8rem;
        text-align: center;
        width: 8rem;
    }
    td{
        width: 8rem;
    }
    td:first-child {
        border-right: solid 1px $color-dark-square;
    }
}

.prompt-box{
    @include middleBox();
    right:15%;
    padding: 3rem;

    
    p{
        font-size: 4rem;
    }

}
